.card {
    width: 90%;
    height: 380px;
    cursor: pointer;
    right: 0%;
    top: -5%;
    left: 5%;

}

.card:after {
    content: '';
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    border-color: red;
}

.container {
    width: max-content;
    position: absolute;
    right: 0%;
    top: 18%;
    left: 45%;
}


.buttonContainern {
    position: absolute;
    width: 30%;
    height: 10%;
    left: 35%;
    bottom: 0%;
    appearance: none;
    border: 5px;
    border-radius: 5px;
    background: #fcea83;
    color: rgb(12, 11, 11);
    padding: 8px 16px;
    font-size: 16px;
}

.buttonContainern:hover {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #ffda0b;
    color: rgb(7, 7, 7);

}

.loding {
    width: 12%;
    height: 12%;
    position: absolute;
    top: 35%;
    left: 43%
}

.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    height: 100%;
    min-height: 180px;
    background-color: rgb(82, 115, 151);

}