.card {
    width: 400px;
    height: 400px;
    cursor: pointer;
    right: 0%;
    top: 0%;
    left: 10%;
    
}

.card:after {
    content: '';
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-radius: 15px;
    border-color: red;
}

.container {
    width:max-content;
    position:absolute;
    right: 0%;
    top: 18%;
    left: 45%;
}


.buttonContainern {
    width: 250px;
    height: 70px;
    position:absolute;
    right: 0%;
    top: -20%;
    left: 100%;
    position: relative;
    appearance: none;
    border: 5px;
    border-radius: 5px;
    background: #d8d1da;
    color: rgb(12, 11, 11);
    padding: 8px 16px;
    font-size: 16px;
}

.buttonContainern:hover {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #b546d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background: #7f0b96;
}
.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
  }