.playerOne {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 75%;
    height: 20%;
} 

.playerTwo {
    position: fixed;
    top: 55%;
    left:  10%;
    width: 75%;
    height: 20%;
} 

.card {
    width: 70%;
    height: 100%;
    cursor: pointer;
}

.card:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}



.buttonContainern {
    
    justify-content:right;
    position:absolute;
    top: 43.5%;
    left: 40%;
    width: 15%;
    height: 10%;
    border: 2px;
    border-radius: 10px;
    background: #d8d1da;
    color: rgb(12, 11, 11);
    padding: 8px 16px;
    font-size: 16px;
}

.buttonContainern:hover {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #b546d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background: #7f0b96;
}


.flex {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
  }