.playerOne {
    position: absolute;
    top: 4.3vw;
    left: 10.5vw;
    width: 75vw;
    height: 14.8vw;
} 

.playerTwo {
    position: fixed;
    top: 27vw;
    left:  10.5vw;
    width: 75vw;
    height: 14.8vw;
} 

.card {
    width: 90%;
    height: 380px;
    cursor: pointer;
}

.card:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}



.buttonContainern {
    
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 250px;
    height: 70px;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #d8d1da;
    color: rgb(12, 11, 11);
    padding: 8px 16px;
    font-size: 16px;
}

.buttonContainern:hover {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #b546d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background: #7f0b96;
}
.flex {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
  }