.container {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 70%;
    left: 35%;
}


.buttonContainern {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #d8d1da;
    color: rgb(12, 11, 11);
    padding: 8px 16px;
    font-size: 16px;
}

.buttonContainern:hover {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #b546d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background: #7f0b96;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }