.cardBoard {
    width: 150%;
    max-width: 15vw;
    height: 15vw;

    float: left;
    
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}






